*
!/.gitignore
!/.gitmodules
!/README.md

!/autostart/
!/autostart/nvidia-settings-user.desktop

!/bat/
!/bat/config
!/bat/themes/
!/bat/themes/CatppuccinMocha.tmTheme

!/btop/
!/btop/btop.conf
!/btop/themes/
!/btop/themes/catppuccin_mocha.theme

!/cava/
!/cava/config
!/cava/shaders/
!/cava/shaders/bar_spectrum.frag
!/cava/shaders/northern_lights.frag
!/cava/shaders/pass_through.vert

!/delta/
!/delta/catppuccin.gitconfig

!/elephant/
!/elephant/elephant.toml

!/environment.d/
!/environment.d/90-cursor.conf

!/fish/
!/fish/config.fish
!/fish/completions/
!/fish/conf.d/
!/fish/conf.d/fish_frozen_key_bindings.fish
!/fish/conf.d/man_bat.fish
!/fish/conf.d/rustup.fish
!/fish/functions/
!/fish/functions/_git_get_default_branch.fish
!/fish/functions/gcm.fish
!/fish/functions/glg.fish
!/fish/functions/gri.fish
!/fish/functions/gs.fish
!/fish/functions/swap.fish
!/fish/functions/ssh.fish

!/ghostty/
!/ghostty/config

!/git/
!/git/config
!/git/hooks/
!/git/hooks/post-checkout
!/git/hooks/pre-commit

!/glamour/
!/glamour/themes/
!/glamour/themes/catppuccin-mocha.json

!/glow/
!/glow/glow.yml
!/glow/themes/
!/glow/themes/catppuccin-mocha.json

!/gtk-3.0/
!/gtk-3.0/settings.ini

!/gtk-4.0/
!/gtk-4.0/settings.ini

!/hypr/
!/hypr/hypridle.conf
!/hypr/hyprland.lua
!/hypr/hyprlock.conf
!/hypr/mocha.conf
!/hypr/modules/
!/hypr/modules/*.lua

!/lazygit/
!/lazygit/config.yml

!/mimeapps.list

!/nvim

!/nwg-look/
!/nwg-look/config

!/opencode/
!/opencode/sync-aktiv-models.py
!/opencode/tui.json

!/qalculate/
!/qalculate/qalc.cfg

!/starship.toml

!/walker/
!/walker/config.toml
!/walker/themes/
!/walker/themes/catppuccin-mocha/
!/walker/themes/catppuccin-mocha/style.css
!/walker/themes/default/
!/walker/themes/default/layout.json
!/walker/themes/default/style.css

!/wayle/
!/wayle/config.toml
!/wayle/runtime.toml
!/wayle/styles/
!/wayle/styles/index.scss
!/wayle/tombi.toml

!/glab-cli/aliases.yml

!/user-dirs.dirs
